.sponsors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
@media (min-width: 1024px) {
    .sponsors {
        gap: 3rem;
    }
}
.sponsor {
    width: 200px;
}
.sponsors img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
