@layer components {
    /* Utility classes (.card, .btn, etc.) */
    .offcanvas {
        &.open {
            pointer-events: auto;
            opacity: 1;
        }
        nav {
            .menu {
                @apply flex flex-col items-center justify-center gap-5 lg:gap-6;
            }
            li {
                @apply leading-none flex flex-col justify-center items-center;
                &.first-of-type {
                    @apply mt-8;
                }
            }
            a {
                @apply border-b-2 border-transparent leading-none no-underline transition-colors duration-200 lg:border-b-4;
                &:hover {
                    color: theme('colors.accent');
                }
            }
            li.current-menu-item {
                a {
                    color: theme('colors.accent');
                    border-color: theme('colors.accent');
                }
            }
        }
    }

    .hero {
        h1 {
            text-shadow: #000 1px 0 5px;
        }
    }

    footer {
        .current-menu-item {
            @apply text-accent no-underline;
        }
    }

    #hamburger {
        z-index: 20;
        svg {
            min-height: 24px;
            transition: transform 0.3s ease-in-out;
        }
        .line {
            fill: none;
            stroke: currentColor;
            stroke-width: 6;
            transition:
                stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .line1 {
            stroke-dasharray: 60 207;
        }
        .line2 {
            stroke-dasharray: 60 60;
        }
        .line3 {
            stroke-dasharray: 60 207;
        }
        &.open {
            .line1 {
                stroke-dasharray: 90 207;
                stroke-dashoffset: -134;
                /* stroke: theme('colors.accent'); */
            }
            .line2 {
                stroke-dasharray: 1 60;
                stroke-dashoffset: -30;
                /* stroke: theme('colors.accent'); */
            }
            .line3 {
                stroke-dasharray: 90 207;
                stroke-dashoffset: -134;
                /* stroke: theme('colors.accent'); */
            }
        }
    }
    /* Latest news */
    .wp-block-latest-posts {
        @apply grid grid-cols-1 gap-6 lg:grid-cols-3 mb-16;
        li {
            @apply flex flex-col gap-3;
            .wp-block-latest-posts__featured-image {
                @apply w-full h-48 object-cover;
            }
            .wp-block-latest-posts__post-title {
                @apply text-xl font-bold;
            }
            .wp-block-latest-posts__post-date {
                @apply text-sm;
            }
        }
    }
}
